<!-- declare version of HTML -->
<!DOCTYPE html>
<!-- specify language -->
<html lang="en">
  <!-- set up metadata and links to assets -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>ToDo List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <!-- everything that shows up in the DOM is inside the body -->
  <body>
    <h1>Todo List:</h1>
    <ul class="todoItems">
      <!-- EJS here for dynamically creating HTML based on data from database -->
      <% for(let i=0; i < items.length; i++) {%>
      <li class="item">
        <% if(items[i].completed === true) {%>
        <span class="completed"><%= items[i].thing %></span>
        <% }else{ %>
        <span><%= items[i].thing %></span>
        <% } %>
        <span class="fa fa-trash"></span>
      </li>
      <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
    <!-- form sends a request to the server to add a todo item -->
    <form action="/addTodo" method="POST">
      <input type="text" placeholder="Thing To Do" name="todoItem" />
      <input type="submit" />
    </form>

    <!-- link to client-side JS here so it runs after the page loads -->
    <script src="js/main.js"></script>
  </body>
</html>
