/* make all h1 HTML content red */
h1 {
  color: red;
}

/* make any HTML element with a class of completed grey and with a line through it */
.completed {
  color: gray;
  text-decoration: line-through;
}
